.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 5.625rem;
  max-width: 10.9375rem;
  min-height: 2.1875rem;
  font-weight: 700;
  border: 0;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background: none;
  margin: 0;
  padding: 0.375rem 0.625rem;
  transition: color 0.35s ease-in-out 0s, background-color 0.35s ease-in-out 0s, border-color 0.35s ease-in-out 0s;
  /** primary **/
  /** secondary **/
  /** link **/
  /** anchor **/
  /** has icon **/
  /** icon only **/
  /** tooltip open so higher z index **/ }
  @media screen and (min-width: 768px), print {
    .button {
      min-width: 7.1875rem;
      max-width: 13.125rem;
      min-height: 2.375rem;
      padding: 0.625rem; } }
  .button + .button {
    margin-left: 1.125rem; }
  .button .grid {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
  .button .button__text {
    font-family: 'Bolton Regular', sans-serif;
    letter-spacing: 0.05em; }
  .button--primary {
    color: #fff;
    background-color: #191919;
    border: 0.0625rem solid #191919; }
    .button--primary:visited {
      color: #fff;
      background-color: #191919;
      border: 0.0625rem solid #191919; }
    .button--primary:hover, .button--primary:focus {
      color: #fff;
      background-color: #44484c;
      border: 0.0625rem solid #44484c; }
    .button--primary:active {
      color: #fff;
      background-color: #000;
      border: 0.0625rem solid #000; }
    .button--primary[disabled], .button--primary.button--disabled {
      color: #fff;
      background-color: #dde2e6;
      border: 0.0625rem solid #dde2e6;
      cursor: default; }
      .button--primary[disabled]:visited, .button--primary[disabled]:hover, .button--primary[disabled]:active, .button--primary.button--disabled:visited, .button--primary.button--disabled:hover, .button--primary.button--disabled:active {
        color: #fff;
        background-color: #dde2e6;
        border: 0.0625rem solid #dde2e6;
        cursor: default; }
  .button--secondary {
    color: #646a70;
    background-color: #fff;
    border: 0.0625rem solid #b1b9bf; }
    .button--secondary:visited {
      color: #646a70;
      background-color: #fff;
      border: 0.0625rem solid #b1b9bf; }
    .button--secondary:hover, .button--secondary:focus {
      color: #fff;
      background-color: #44484c;
      border: 0.0625rem solid #44484c; }
    .button--secondary:active {
      color: #fff;
      background-color: #000;
      border: 0.0625rem solid #000; }
    .button--secondary[disabled], .button--secondary.button--disabled {
      color: #c7cdd2;
      background-color: #fff;
      border: 0.0625rem solid #c7cdd2;
      cursor: default; }
      .button--secondary[disabled]:visited, .button--secondary[disabled]:hover, .button--secondary[disabled]:active, .button--secondary.button--disabled:visited, .button--secondary.button--disabled:hover, .button--secondary.button--disabled:active {
        color: #c7cdd2;
        background-color: #fff;
        border: 0.0625rem solid #c7cdd2;
        cursor: default; }
  .button--tertiary {
    color: #191919;
    background: none;
    border: 0.0625rem solid transparent; }
    .button--tertiary:visited {
      color: #191919;
      background: none;
      border: 0.0625rem solid transparent; }
    .button--tertiary:hover, .button--tertiary:focus {
      color: #191919;
      background-color: #eef1f3;
      text-decoration: underline;
      border: 0.0625rem solid transparent; }
    .button--tertiary:active {
      color: #191919;
      background-color: #e6eaed;
      border: 0.0625rem solid transparent;
      text-decoration: none; }
    .button--tertiary[disabled], .button--tertiary.button--disabled {
      color: #c7cdd2;
      background: none;
      border: 0.0625rem solid transparent;
      text-decoration: none;
      cursor: default; }
      .button--tertiary[disabled]:visited, .button--tertiary[disabled]:hover, .button--tertiary[disabled]:active, .button--tertiary.button--disabled:visited, .button--tertiary.button--disabled:hover, .button--tertiary.button--disabled:active {
        color: #c7cdd2;
        background: none;
        border: 0.0625rem solid transparent;
        text-decoration: none;
        cursor: default; }
  .button--text {
    display: inline;
    min-width: 0;
    min-height: 0;
    max-width: none;
    text-align: inherit;
    text-decoration: underline;
    vertical-align: baseline;
    margin: 0;
    padding: 0; }
    .button--text .button__text {
      text-transform: none; }
    .button--text:visited, .button--text:hover, .button--text:focus, .button--text:active {
      color: inherit;
      background: none;
      border: none; }
  @media screen and (min-width: 768px), print {
    .button--has-icon {
      padding: 0.5625rem 0.625rem; } }
  .button--has-icon .ui-icon {
    flex: none;
    margin-right: 0.375rem; }
  .button--has-icon .button__text {
    text-align: left; }
  .button--icon-only {
    width: auto;
    max-width: none;
    min-width: 0;
    min-height: 0;
    background: none;
    text-decoration: none;
    border: none;
    padding: 0; }
    .button--icon-only:visited, .button--icon-only:hover, .button--icon-only:active {
      color: inherit;
      background: none;
      border: none; }
    .button--icon-only .ui-icon {
      transition: opacity 0.35s ease-in-out 0s, color 0.35s ease-in-out 0s; }
    .button--icon-only:hover .ui-icon, .button--icon-only:focus .ui-icon {
      opacity: 0.5; }
      .button--icon-only:hover .ui-icon--delete, .button--icon-only:focus .ui-icon--delete {
        opacity: 1;
        color: #cb2d3e; }
  .button--vertical {
    width: auto;
    max-width: none;
    min-width: 0; }
    .button--vertical .grid {
      flex-direction: column; }
      .button--vertical .grid .ui-icon {
        margin: 0 0 0.1875rem 0; }
  .button._open-tooltip {
    z-index: 2; }

.filter-options__removal {
  align-items: center; }
  @media screen and (max-width: 449px), print {
    .filter-options__removal {
      padding-left: 1rem; } }
  .filter-options__removal .filter-options__applied {
    color: #2a2c2d;
    line-height: 0.875rem;
    margin-right: 0.75rem; }
  .filter-options__removal .button {
    min-width: 6.875rem;
    height: 1.625rem;
    min-height: 1.625rem;
    max-height: 1.625rem;
    border-radius: 0.8125rem;
    text-transform: none;
    color: #2a2c2d;
    background-color: #dde2e6;
    border: none;
    padding: 0.1875rem 0.3125rem; }
    .filter-options__removal .button:visited, .filter-options__removal .button:hover, .filter-options__removal .button:active {
      color: #f2f4f5;
      background-color: #646a70; }
    .filter-options__removal .button .button__content {
      flex-direction: row-reverse; }
      .filter-options__removal .button .button__content .ui-icon {
        width: 0.8125rem;
        height: 0.8125rem;
        margin: 0 0 0 0.375rem; }
