@import '../../../globals/globals.scss';

.use-cases {
  .section {
    position: relative;
  }

  .section__inner {
    position: relative;
    z-index: 1;
  }

  .content__body {
    width: 100%;
    padding: 0;

    @include breakpoint($large) {
      padding: 0 rem(30);
    }
  }

  .section:nth-child(even) {
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(-50%);
      background-color: $coolGrey2;
      z-index: 0;

      @include breakpoint($medium) {
        width: 75%;
        border-radius: $borderRadius;
      }
    }

    .section__inner > .grid {
      flex-direction: row-reverse;
    }
  }
}
