@import '../../../globals/globals.scss';

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $white;
	border-bottom: rem(2) solid $mqOrange;
  z-index: 200;

  img {
  	width: 100%;
  	height: auto;
    vertical-align: middle;
  }

  .header__inner {
    padding: rem(12) rem(18);

    @include breakpoint($medium) {
      padding: rem(20) rem(24);
    }

    > .grid {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @include breakpoint($medium) {
        flex-direction: row;
      }
    }
  }

  .header__logo {
    align-items: baseline;
    border-bottom: rem(1) solid $borderColor;
    margin-bottom: rem(10);
    padding-bottom: rem(10);

    @include breakpoint($medium) {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  .header__logo-img {
    max-width: rem(150);
    border-right: rem(1) solid $mqOrange;
    margin-right: rem(20);
    padding-right: rem(20);
  }
}

/***************************
nav
***************************/

.nav {
  .grid {
  	list-style: none;
  	margin: 0;
  	padding: 0;
  }

  .nav__item {
    position: relative;
    margin: 0 rem(2);

    @include breakpoint($medium) {
    	margin: 0 rem(8);
    }

    &.nav__item--current > a {
      color: $white;
      background-color: $cerulean;

      &:hover {
        color: $white;
      }
    }

    &:hover {
      > ul {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, 5px);
      }
    }

    > ul {
      position: absolute;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      left: 50%;
      transform: translate(-50%, -15px);
      width: rem(150);
      background-color: $white;
      border-radius: $borderRadius;
      box-shadow: $genericBoxShadow;
      list-style: none;
      margin: 0;
      padding: rem(10) 0;
      z-index: 1;
      transition: transform $shortAnimationTime ease-in-out 0s,
                  opacity $shortAnimationTime ease-in-out 0s,
                  visibility $shortAnimationTime ease-in-out 0s;

      .nav__sub-item--current {
        background-color: $coolGrey3;

        a {
          color: $black;

          &:hover {
            color: $black;
          }
        }
      }

      li {
        list-style: none;
        margin: 0;
        padding: rem(10) rem(18);

        > a {
          display: block;

          &:hover {
            color: $coolGrey9;
          }
        }
      }
    }

    > a {
      position: relative;
      display: block;
      border-radius: rem(3);
    	padding: rem(5) rem(10);
      z-index: 2;

      &:hover {
        color: $coolGrey9;
      }
    }
  }
}
